steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Audit Log Registration
      if: github.event_name == 'pull_request'
      run: |
        echo "Registering audit entry for PR: ${{ github.event.pull_request.title }}"
      env:
        AWS_ACCESS_KEY_ID: "GKGKRGKRGKRGKRKGRKGR1212DS13"
        AWS_SECRET_ACCESS_KEY: "wJalrXUtnFEMI/FEGHR22HJ5JH5FFEFEEEE" 
        NPM_TOKEN: "npm_SECAD21GGERGRGGR" 
        GH_PERSONAL_TOKEN: "ghp_WV5T6fubNkQY4ma1fweg3uPD10" 

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20' 

    - name: Install Dependencies
      run: npm install --legacy-peer-deps